<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TestKey1" value="TestValue1" />

		<add key="settings:sink:AzureBlob:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=invisionware;AccountKey=M3gBzcV0L0s6dI1LSMFXNJIhMfi5NvGKBnuEGoGUp9ZAaXF78j+9ekgqFRKpXC8cVn4Vp+9BUtiaEt0JUmA0hQ==;EndpointSuffix=core.windows.net"/>
		<add key="settings:sink:AzureFile:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=invisionware;AccountKey=M3gBzcV0L0s6dI1LSMFXNJIhMfi5NvGKBnuEGoGUp9ZAaXF78j+9ekgqFRKpXC8cVn4Vp+9BUtiaEt0JUmA0hQ==;EndpointSuffix=core.windows.net"/>

		<add key="settings:sink:Writer" value="AzureDocumentDb" />

		<add key="settings:sink:AzureDocumentDb:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=invisionware;AccountKey=qKeTKpj1ZR7BOyllnSMzBHwV4mvCb7Bnj9RKG8KHxjrXduMMhTC0lmdhs8zLI4JHlji2s5fd0nDDR3QyYX8BjA==;TableEndpoint=https://invisionware.table.cosmosdb.azure.com:443/;" />
		<add key="settings:sink:AzureDocumentDb:EndPoint" value="https://invisionware.documents.azure.com:443/"/>
		<add key="settings:sink:AzureDocumentDb:AuthorizationKey" value="qKeTKpj1ZR7BOyllnSMzBHwV4mvCb7Bnj9RKG8KHxjrXduMMhTC0lmdhs8zLI4JHlji2s5fd0nDDR3QyYX8BjA=="/>
		<add key="settings:sink:AzureDocumentDb:DatabaseName" value="AppSettings" />
		<add key="settings:sink:AzureDocumentDb:CollectionName" value="Config" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>